.dash-container {
    position: relative;
    display: block;
    margin: auto auto 50px;
}

#welcome-username {
    font-family: 'Press Start 2P', cursive;
}

.form {
    max-width: 18rem;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    background-color: #6D6EE6;
    border: 3px solid yellow;
    border-radius: 20px;
}

.a {
    padding: 10px;
}
.form > input, .a {
    cursor: pointer;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-decoration: none;
}

.form > input:hover, .a:hover {
    background-color: lime;
    color: #000;
}