.username-form-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

.username-form-header {
    color: red;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    text-shadow: 2px 2px black;
}

.user-form {
    display: flex;
    margin: auto;
}

input {
    border-radius: 10px 0 0 10px;
    border: none;
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 1.5px;
    padding: 10px;
}

#start-btn {
    background-color: yellow;
    border-radius: 0 10px 10px 0;
    color: #000;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
}
