.results-container {
    background-color: yellow;
    border: 6px solid #6D6EE6;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
}

.results-title {
    font-family: 'Press Start 2P', cursive;
    padding: 10px;
}

ol {
    font-family: 'Share Tech Mono', monospace;
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}