@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  height: 30px;
  margin: 15px 0;
  position: relative;
  width: 500px;
}

.progress-done {
  align-items: center;
  background: linear-gradient(to left, #f2709c, #ff9472);
  border-radius: 20px;
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  transition: 10s ease 0.3s;
  width: 0;
}
