div {
  box-sizing: border-box;
}

.ongoing-container {
  height: 100%;
  background-image: url("../../assets/quiz-bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ongoing-title {
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: #6D6EE6;
  padding: 10px;
  margin: auto;
  border: 6px yellow solid;
  border-radius: 20px 20px 0 0;
}

.quiz {
  width: 975px;
  margin: 0 auto;
  margin-top: 100px;
}

.question {
  background-color: #0094da;
  color: white;
  padding: 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.results {
  background-color: #fff;
  height: 300px;
  text-align: center;
}

.congratulations {
  background-color: #0094da;
  padding: 20px;
  font-size: 36px;
  color: #fff;
}

.results-info {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.answer {
  min-width: 48%;
  max-width: 90%;
  background: yellow;
  border: 6px solid #6D6EE6;
  border-radius: 10px;
  min-height: 60px;
  cursor: pointer;
  margin: auto auto 30px ;
  display: flex;
  flex-direction: column;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
}

.answer-letter {
  font-size: 30px;
  background-color: #6D6EE6;
  color: #fff;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.answer-text {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.correct-answer {
  border: 2px solid #1ea55b;
}

.correct-answer .answer-letter {
  background: #1ea55b;
}

.selected-answer .answer-letter {
  background: purple;
}

.wrong-answer {
  border: 2px solid #dc0a0a;
}

.wrong-answer .answer-letter {
  background: #dc0a0a;
}

.next-button {
  margin: 0 auto;
  color: #fff;
  background: #0b0e21;
  width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 75px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.score {
  background: #fff;
  color: 000;
  font-size: 18px;
  width: 200px;
  margin: 0 auto;
  font-weight: 600;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled-answer {
  pointer-events: none;
}

.avatar {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 75px;
  width: 75px;
  border: 3px solid yellow;

  background-size: 100px 100px;
  background-position: center;
  color: #fff;
  border-radius: 50%;
}

.player1 {
  background-image: url('../../assets/player-1.png');
}

.player2 {
  background-image: url('../../assets/player-2.png');
}

.player3 {
  background-image: url('../../assets/player-3.png');
}
.player4 {
  background-image: url('../../assets/player-4.png');
}

