.match-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin: auto;   
}

.username-header {
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: #6D6EE6;
    padding: 10px;
    margin: auto;
    border: 6px yellow solid;
    border-radius: 20px 20px 0 0;
}

.players-container {
    background-color: yellow;
    border: #6D6EE6 solid 6px;
    border-radius: 0 0 20px 20px;
    height: auto;
}

.players-lobby {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    padding: 10px;
}

.player-list {
    list-style: none;
}

@media only screen and (max-width: 400px) {
    .username-header {
        font-size: 16px;
    }
}