.home-container {
    position: absolute;
    height: 90vh;
    width: 100%;
    margin: 0;
    z-index: 0;
}

.home-inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #75FDD7;
    opacity: 0.9;
    height: auto;
    min-width: 90%;
    padding: 20px;
    margin: 2% auto;
    border-radius: 20px;
    border: solid 6px #E663B9;
}

.welcome-div {
    padding: 10px 0 0 0;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.home-h2a {
    color: red;
    text-shadow: 2px 2px black;
    animation-name: fadeIn1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes fadeIn1 {
    from { 
        opacity: 0; 
    } to {
        opacity: 1;
    }
}

.home-h2b {
    color: plum;
    font-weight: bold;
    text-shadow: 2px 2px black;
    animation-name: fadeIn2;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}
@keyframes fadeIn2 {
    from { 
        opacity: 0; 
    } to {
        opacity: 1;
    }
}

.quiz-logo-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 15px;    
    z-index: 1000;
    opacity: 1;
}

.form {
    text-align: center;
   
}

.startbtn {
    width: 100px;
    margin-left: 400px;
}



.quiz-logo {
    position: relative;
    display: flex;
    margin: 20px auto;
    animation-name: logo-spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 200px;
   
    
    
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.home-h1 {
    position: relative;
    color: red;
    text-shadow: 2px 2px black;
    font-style: italic;
    font-weight: bold;
    outline: 2px azure;
    margin: auto;
    animation-name: slide-in;
    animation-duration: 4s;    
    animation-timing-function: ease-in-out;
    animation-direction: forward;
    animation-iteration-count: 1;
    animation-delay: 4s;
}
  @keyframes slide-in {
        0%  { margin-left: -800px; opacity: 0; }
        25% { margin-left: 0px; color: yellow; opacity: 1; }
        100% { margin: inherit; color: plum; opacity: 1; }
  }

  .end-container {
    padding: 20px;
    background-color: #E663B9;
    opacity: 0.9;
    height: auto;
    min-width: 90%;
    border: solid 6px #75FDD7;
    border-radius: 20px;
  }

  .end-container > h3 {
    color: yellow;
  }