.home-container {
    position: absolute;
    background-image: url("../../assets/quiz-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    z-index: 0;
}

.home-inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #75FDD7;
    opacity: 0.8;
    height: 90vh;
    width: 90%;
    padding: 20px;
    margin: 5% auto;
    border-radius: 20px;
    z-index: 10;
}

.welcome-div {
    margin: 10px;
    border: groove 1px yellow;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.home-h2a, .home-h2b {
    animation-name: fadeIn;
    transition-delay: 500ms;
    transition-duration: 2s;
    transition-timing-function: linear;
}

@keyframes fadeIn {
    from { 
        visibility: hidden; 
    } to {
        visibility: visible;
    }
}

.form {
    text-align: center;
   
}

.startbtn {
    width: 100px;
    margin-left: 400px;
}

