.leaderboard-container {
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    margin: 2% auto;
    background-color: yellow;
    border: 6px solid #6D6EE6;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    text-align: center;
}