.question-container {
    background-color: yellow;
    border-radius: 0 0 20px 20px;
    height: 15%;
    margin-bottom: 10px;
    margin: auto;
    padding: 2%;
}

.questionOfNum {
    font-family: 'Share Tech Mono', monospace;

}

.question {
    background-color: #63E2FA;
    color: black;
    font-family: 'Share Tech Mono', monospace;
}

@media only screen and (max-width: 400px) {
    .question-container {
        font-size: 16px;
    }
}
