.dash-container {
    position: relative;
    display: block;
    margin: auto auto 50px;
}

.welcome-user {
    font-family: 'Press Start 2P', cursive;
}

.btn {
    font-family: 'Share Tech Mono', monospace;
    cursor: pointer;
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: larger;
    border: #6D6EE6 3px solid;
    border-radius: 10px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: lime;
    color: #000;
}