.App {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 95vh;
  width: 95vw;
  z-index: 100;
}

.parallax {
  /* The image used */
  background-image: url("./assets/neon-bg.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

